*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial;
	background-image: url('../img/Img.png');
}

.form{
	width: 400px;
	height: 350px;
	background: #4e4d4d;
	margin: auto;
	margin-top: 30px;
	color: white;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
}

.form h5{
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}

.inpu{
	padding: 11px 10px;
	width: 100%;
	border:1px solid #017bab;
	margin-bottom: 15px;
	background: #252323;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}

.button{
	width: 100%;
	height: 40px;
	background: #017bab;
	border:none;
	color: white;
	margin-bottom: 15px;
}

.form p {
	height: 40px;
	text-align: center;
	border-bottom: 1px solid
}
.form a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}
.form a:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
	padding: 10px 15px;
	background:#4e4d4d;
	color: white;
	width: 600px;
	margin: auto;
	margin-bottom: 0px;
}

.info{
	text-align: center;
	font-size: 12px;
	color: white;
	margin-top: 20px;
}